<!-- Footer -->
<footer class="section">
	<div class="container footer-container">
		<div style="margin-bottom:12px;">
			created by brandon smith<br>
			<a href="http://www.brandonsmith.ninja" target="_blank">www.brandonsmith.ninja</a>
		</div>
		<div style="font-weight:bold; font-size:12px;">
			DISCLAIMER: No guarantees are made about the reliability or privacy of files uploaded to Catch. Upload only content you own, at your own risk, and don't delete your local copies.
		</div>
	</div>

	<!-- JavaScript -->
	<script src="js/catch.min.js"></script>
	<script>
		if(window.location.origin.indexOf('localhost') < 0) {
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-73092059-1', 'auto');
			ga('send', 'pageview');
		}
	</script>
</footer>
