<!-- Head -->
<head>
  <title>Catch</title>

  <!-- Meta data -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="theme-color" content="#64B5F6">
  <link href="img/favicon.ico" rel="icon" />
  <meta name="description"				content="Share files between devices - no account necessary" />
  <meta property="og:title"				content="Catch" />
  <meta property="og:url"				content="http://catch.brandonsmith.ninja" />
  <meta property="og:description"		content="Share files between devices - no account necessary" />
  <meta property="og:image"				content="http://catch.brandonsmith.ninja/img/facebook-image.png" />

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/catch.min.css">
</head>
