<!DOCTYPE html>
<html lang="en">
	<!-- Head -->
	{% include "./partials/head.html" %}

	<!-- Body -->
	<body id="index" class="fadein">

		<div class="content-wrapper">

			<!-- Hero -->
			<div class="section hero">
				<div class="container">
					<h1>
						Catch
					</h1>
					<h3>Throw a file to the cloud. Catch it on another device.</h3>
				</div>
			</div>


			<!-- Main content -->
			<div class="section main">

				<!-- Container -->
				<div class="back-button hidden">
					<i class="fa fa-arrow-left"></i>
					back
				</div>
				<div class="container actions-container" style="
								margin-bottom:70px;">
					<div class="action upload-action" style=" margin-bottom: 30px;">
						<i class="fa fa-cloud-upload"></i>
						<div class="label">Throw</div>
						<div class="expanded-content">
							<div>
								<!-- info -->
								<div class="message" style="opacity:0.8;">
									Select a file to upload
								</div>
								<!-- form -->
								<form class="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
									<input class="file-upload" name="file" type="file" style="width:150px;">
								</form>
								<div class="upload-result hidden">
									<input class="code" readonly="readonly"></input>
									<div>or</div>
									<div style="font-family:arial">
										share this link: <a class="download-link" style="font-family:arial"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="action download-action">
						<i class="fa fa-download"></i>
						<div class="label">Catch</div>
						<div class="expanded-content">
							<div>
								<input class="code-input" type="text" placeholder="Enter your code" maxlength="6">
								<button class="download-button">Download</button>
								<div class="error-message hidden">File not found. The code may have been mistyped, or your file may have expired.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		{% include "./partials/footer.html" %}
	</body>
</html>
