
/* Native tags */
* {
  box-sizing: border-box;
  font-family: 'arial';

  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

html {
  font-size:100%;
  height:100%;
}
body {
  margin: 0px;
  min-height:100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  font-weight:bold;
  text-decoration:none;
}
a:visited {
  color:inherit;
}
address {
  font-style: normal;
}
footer {
    vertical-align:middle;
    padding: 20px 10px;
}

/* Organization */
.section {
  display: block;
  width:100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.container {
  display:block;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 800px;
}
body.single-section {
  height:100%;
}
.left-col,
.right-col {
  width:49%;
  display:inline-block;
}
.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*** Media Queries ***/
/* Desktop - large */
@media (min-width:1200px) {
}
/* Desktop - small */
@media (min-width:992px) and (max-width:1200px) {
}
/* Tablet */
@media (min-width:768px) and (max-width:992px) {
}
/* Phone */
@media (max-width:768px) {
  .left-col,
  .right-col {
    display:block;
    width:100%;
  }
}

/* Fade */
.fadeout {
  transition: opacity 0.3s linear;
  opacity:0;
}
.fadein {
  animation: fadein 0.3s linear 0s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
