* {
  color: white;
  font-family: 'Poiret One'; }

html {
  background-color: white; }

body {
  background-color: #64B5F6; }

a {
  text-decoration: underline; }

.hidden {
  opacity: 0; }

.content-wrapper {
  min-height: calc(100vh - 120px);
  padding-top: 1px;
  margin-top: -1px; }

.section.hero {
  text-align: center;
  margin-top: 150px; }
  .section.hero h1 {
    font-size: 70px;
    margin: 0px;
    display: inline-block;
    cursor: pointer; }

.section.main {
  padding: 90px 0px;
  overflow: hidden; }

.back-button {
  max-width: 800px;
  padding: 0 15px;
  margin: 15px auto;
  cursor: pointer;
  font-size: 24px;
  transition: opacity 0.2s ease-out 0.3s; }

.back-button.hidden {
  opacity: 0;
  transition: opacity 0.1s ease-out; }

.actions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .actions-container .action {
    transition: opacity 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, color 0.2s ease-out, background-color 0.2s ease-out;
    display: block;
    position: relative;
    cursor: pointer;
    color: white;
    background-color: #64B5F6;
    border: 3px solid white;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 30px; }
    .actions-container .action > * {
      color: white; }
    .actions-container .action i {
      font-size: 86px; }
    .actions-container .action .label {
      font-size: 36px; }
    .actions-container .action .expanded-content {
      height: 206px;
      line-height: 206px;
      margin-top: 10px;
      vertical-align: middle;
      opacity: 0;
      transition: opacity 0.2s ease-out; }
      .actions-container .action .expanded-content * {
        line-height: normal;
        vertical-align: middle; }
      .actions-container .action .expanded-content > div {
        display: inline-block;
        text-align: center;
        width: 100%;
        max-width: 416px; }
      .actions-container .action .expanded-content .download-button {
        font-size: 40px;
        -webkit-appearance: none;
        height: 66px;
        border: none;
        background-color: white;
        color: #333;
        padding: 0 10px;
        border-radius: 5px;
        font-weight: bolder;
        cursor: pointer;
        margin-left: 5px; }
      .actions-container .action .expanded-content .download-button:hover {
        box-shadow: 0px 0px 10px gray; }
    .actions-container .action .expanded-content.selected {
      opacity: 1; }
    .actions-container .action .message {
      opacity: 0.8;
      transition: opacity 0.3s ease-out;
      display: block; }
    .actions-container .action .message.hidden {
      opacity: 0; }
    .actions-container .action .code {
      opacity: 1;
      transition: opacity 0.3s ease-out; }
    .actions-container .action .code.hidden {
      opacity: 0; }
    .actions-container .action .download-link {
      word-break: break-word; }
    .actions-container .action .file-upload {
      /*
      width: 194px;
      height: 194px;
      position: absolute;
      top: 1000px;
      left: 0px;
      opacity: 0;*/ }
    .actions-container .action .error-message {
      font-family: arial;
      margin-top: 10px; }
    .actions-container .action .error-message.hidden {
      opacity: 0; }
  .actions-container .action:hover {
    color: #64B5F6;
    background-color: white; }
    .actions-container .action:hover > * {
      color: #64B5F6; }
  .actions-container .action.selected {
    cursor: default;
    width: 100%;
    height: 400px; }
    .actions-container .action.selected .code,
    .actions-container .action.selected .code-input {
      color: #333;
      font-family: monospace;
      font-size: 40px;
      display: inline-block;
      border-radius: 5px;
      border: none;
      padding: 10px;
      text-align: center;
      width: 100%;
      max-width: 416px; }
  .actions-container .action.selected:hover {
    color: white;
    background-color: #64B5F6;
    border: 3px solid white; }
    .actions-container .action.selected:hover > * {
      color: white; }
  .actions-container .action.hidden {
    width: 0px;
    padding: 0px;
    opacity: 0;
    border: none;
    overflow: hidden; }

footer {
  min-height: 120px;
  background-color: white; }

footer * {
  color: #64B5F6;
  text-align: center;
  font-family: arial; }

@media (max-width: 710px) {
  .actions-container .action .expanded-content .download-button,
  .actions-container .action .expanded-content .error-message {
    display: inline-block;
    margin-top: 10px;
    max-width: 416px;
    width: 100%;
    margin-left: 0px; } }
/* Phone */
@media (max-width: 430px) {
  .section.hero {
    margin-top: 80px; }

  .section.main {
    padding: 0px; } }

/*# sourceMappingURL=styles.css.map */
